.dnd-text-input{
    font-size: 20px;
    border:none;
    background:none;
    outline: none;
    line-height: 30px;
    height:30px;
}

.dnd-text-label{
    font-size: 12px;
    position: absolute;
}